@font-face {
	font-family: 'PressStart2PRegular';
	src: url('../fonts/pressstart2p-webfont.eot');
	src: local('?'),
	url('../fonts/pressstart2p-webfont.woff') format('woff'),
	url('../fonts/pressstart2p-webfont.ttf') format('truetype'),
	url('../fonts/pressstart2p-webfont.svg#PressStart2PRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

$main-font: 'PressStart2PRegular', Arial, sans-serif;
