@font-face{
	font-family: 'PressStart2PRegular';
	src: url('../fonts/pressstart2p-webfont.eot');
	src: local('?'),
		url('../fonts/pressstart2p-webfont.woff') format('woff'),
		url('../fonts/pressstart2p-webfont.ttf') format('truetype'),
		url('../fonts/pressstart2p-webfont.svg#PressStart2PRegular') format('svg');
	font-weight: normal;
	font-style: normal
}

$main-font: 'PressStart2PRegular', Arial, sans-serif;

@mixin keyframe($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}
	@-moz-keyframes #{$animation-name} {
		@content;
	}
	@-ms-keyframes #{$animation-name} {
		@content;
	}
	@-o-keyframes #{$animation-name} {
		@content;
	}
	@keyframes #{$animation-name} {
		@content;
	}
}

@mixin animation($str) {
	-webkit-animation: #{$str};
	-moz-animation: #{$str};
	-ms-animation: #{$str};
	-o-animation: #{$str};
	animation: #{$str};
}

@mixin transform($tranform...) {
	-moz-transform: $tranform;
	-webkit-transform: $tranform;
	-o-transform: $tranform;
	transform: $tranform;
}

@mixin transition($transition...) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}
