<!DOCTYPE html>
<html lang="en">
	include "partials/head.html"
<body>
	include "partials/analytics.html"
	<article class="container">
	include "partials/ghost.html"
	include "partials/links.html"
	include "partials/cloud.html"
	include "partials/twitter.html"
	include "partials/lizard.html"
	<div class="lisko"></div>
	</article>
	<script type="text/javascript" src="js/ext/jquery/index.js"></script>
	<script type="text/javascript" src="js/ext/siutsur/index.js"></script>
	<script type="text/javascript" src="js/base.js"></script>
</body>
</html>