<!DOCTYPE html>
<html lang="en">
<head>
	<title>sirLisko... Luca Lischetti</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="author" content="Luca Lischetti">
	<link type="text/plain" rel="author" href="http://sirlisko.com/humans.txt" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="keywords" content="Luca Lischetti, sirlisko, web developer, dreamer, 8-bit, super hero" />
	<meta name="description" content="sirLisko is just another f@$#&amp;n' web developer, full time dreamer and sometimes sleeper, true 8-bit lover and sunday super hero.." />

	<meta property="og:url" content="http://sirlisko.com" />
	<meta property="og:description" content="personal (and experimental) website of Luca Lischetti." />
	<meta property="og:title" content="sirLisko... Luca Lischetti" />
	<meta property="og:image" content="http://sirlisko.com/images/lisko.png" />

	<link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	@@include('./partials/analytics.html')
</head>
<body>
	@@include('./partials/json-ld.html')
	<header>
		@@include('./partials/links.html')
	</header>
	@@include('./partials/me.html')
	<footer>
		<a class="my__projects" href="/projects">Projects</a>
		<a class="my__special" href="http://mobro.co/sirLisko" data-beacon="movember">Movember 2015</a>
		<a class="my__resume" href="/resume">Resume</a>
	</footer>
	<script type="text/javascript" src="js/base.js"></script>
</body>
</html>