<head>
	<title>sirLisko... Luca Lischetti</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="author" content="Luca Lischetti">
	<link type="text/plain" rel="author" href="http://sirlisko.com/humans.txt" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="keywords" content="Luca Lischetti, sirlisko, web developer, dreamer, 8-bit, super hero" />
	<meta name="description" content="sirLisko is just another f@$#&amp;n' web developer, full time dreamer and sometimes sleeper, true 8-bit lover and sunday super hero.." />
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>