<head>
	<title>sirLisko...il Randagio parlante</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="author" content="Luca Lischetti">
	<link type="text/plain" rel="author" href="http://sirlisko.com/humans.txt" />
	<meta name="viewport" content="initial-scale=1.0, width=device-width">
	<meta name="keywords" content="Luca Lischetti, sirlisko, web developer, dreamer, 8-bit, super hero" />
	<meta name="description" content="sirLisko is just another f@$#&amp;n' web developer, full time dreamer and sometimes sleeper, true 8-bit lover and sunday super hero.." />
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="styles/style.css">
</head>