<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Person",
	"name": "Luca Lischetti",
	"alternateName": "sirLisko",
	"jobTitle": "Senior Software Engineer",
	"worksFor": {
		"@type": "Organization",
		"name": "Shazam",
		"url": "http://www.shazam.com"
	},
	"email": "mailto:sirlisko@gmail.com",
	"image": "https://sirlisko.com/me/sirLisko.jpg",
	"address": {
		"@type": "PostalAddress",
		"addressLocality": "London",
		"addressCountry": "United Kingdom"
	},
	"url": [
		"https://sirlisko.com",
		"https://twitter.com/sirLisko",
		"https://www.github.com/sirlisko",
		"https://sirlisko.com/blog",
		"https://www.facebook.com/sirLisko",
		"https://sirLisko.tumblr.com",
		"https://github.com/sirLisko",
		"https://instagram.com/sirlisko",
		"https://lastfm.com/user/sirlisko"
	]
}
</script>
