<ul class="links">
	<li class="blog">
		<a href="http://sirlisko.com/blog" data-beacon="blog">
			<p class="caption">blog</p>
		</a>
	</li>
	<li class="twitter">
		<a href="http://twitter.com/sirLisko" data-beacon="twitter">
			<p class="caption">twitter</p>
		</a>
	</li>
	<li class="facebook">
		<a href="http://www.facebook.com/sirLisko" data-beacon="facebook">
			<p class="caption">facebook</p>
		</a>
	</li>
	<li class="tumblr">
		<a href="http://sirLisko.tumblr.com" data-beacon="tumblr">
			<p class="caption">tumblr</p>
		</a>
	</li>
	<li class="github">
		<a href="http://github.com/sirLisko" data-beacon="github">
			<p class="caption">github</p>
		</a>
	</li>
	<li class="instagram">
		<a href="http://instagram.com/sirlisko" data-beacon="instagram">
			<p class="caption">instagram</p>
		</a>
	</li>
	<li class="lastfm">
		<a href="http://lastfm.com/user/sirlisko" data-beacon="lastfm">
			<p class="caption">lastfm</p>
		</a>
	</li>
	<li class="mail">
		<a href="mailto:hello@sirlisko.com" data-beacon="mail">
			<p class="caption">mail me!</p>
		</a>
	</li>
</ul>