<ul class="links">
	<li class="blog">
		<a href="http://sirlisko.com/blog"></a>
		<p class="caption">blog</p>
	</li>
	<li class="twitter">
		<a href="http://twitter.com/sirLisko"></a>
		<p class="caption">twitter</p>
	</li>
	<li class="facebook">
		<a href="http://www.facebook.com/sirLisko"></a>
		<p class="caption">facebook</p>
	</li>
	<li class="tumblr">
		<a href="http://sirLisko.tumblr.com"></a>
		<p class="caption">tumblr</p>
	</li>
	<li class="github">
		<a href="http://github.com/sirLisko"></a>
		<p class="caption">github</p>
	</li>
	<li class="lastfm">
		<a href="http://lastfm.com/user/sirlisko"></a>
		<p class="caption">lastfm</p>
	</li>
	<li class="mail">
		<a href="mailto:hello@sirlisko.com"></a>
		<p class="caption">mail me!</p>
	</li>
</ul>