<section class="me">
	<div class="cloud">
		<p class="me__intro">SIRLISKO<br/>another f@$#&amp;n'<br/>
			<span class="me__intro--active">web developer</span>
			<span>super hero</span>
			<span>dreamer</span>
			<span>giagguaro</span>
			<span>bored guy</span>
			<span>8-bit lover</span>
			<span>sleeper</span>
		</p>
	</div>
	<div class="me__thinking">
		<div class="me__think me__think--a"></div>
		<div class="me__think me__think--b"></div>
		<div class="me__think me__think--c"></div>
	</div>
	<div class="me__face"></div>
</section>