<section class="me">
	<img class="me__face" src="./images/sirlisko.svg" />
	<div class="me__intro">
		<p>Ciao!</p>
		<p>I'm sirLisko,</p>
		<p>another f@$#&amp;n'</p>
		<p class="me__intro__desc">
			<span class="me__intro--active">web developer</span>
			<span>super hero</span>
			<span>dreamer</span>
			<span>giagguaro</span>
			<span>bored guy</span>
			<span>8-bit lover</span>
			<span>sleeper</span>
			<span>bug creator</span>
			<span>yak shaver</span>
			<span>rubber duck</span>
			<span>zombie coder</span>
			<span>pizza eater</span>
			<span>londoner</span>
		</p>
	</div>
</section>