.links {
  float: right;
  margin: 10px;
  position: relative;
  & li {
    display: inline-block;
    margin: 0 10px;
  }
  & a {
    background: url(../images/sprites.png) no-repeat;
    display: block;
    height: 32px;
    width: 32px;
  }
}

.caption {
  color: #000;
  display: none;
  left: 50%;
  position: absolute;
  top: 50px;
  transform: translateX(-50%);
}

.links--tumblr a { background-position: 0 -35px; }
.links--blog a { background-position: 0 -71px; }
.links--github a { background-position: 0 -107px; }
.links--lastfm a { background-position: 0 -144px; }
.links--mail a { background-position: 0 -180px; }
.links--flickr a { background-position: 0 -216px; }
.links--facebook a { background-position: 0 -251px; }
.links--instagram a { background-position: 0 -287px; }

@media screen and (max-width: 650px) {
  .links {
    float: none;
    margin: 5px auto 5vh;
    text-align: center;
    & li {
      margin: 5px;
    }
    & .lastfm {
      display: none;
    }
  }
}

@media screen and (min-width: 650px + 1) {
  .links li:hover .caption {
    display: block;
  }
}
