.links {
  & li {
    display: inline-block;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    @media (min-width: 650px) {
      margin-right: 1rem;
    }
    &:hover .caption {
      @media (min-width: 650px) {
        display: block;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
  & a {
    background: url(/images/sprites.png) no-repeat;
    display: block;
    height: 32px;
    width: 32px;
  }
}

.caption {
  color: #000;
  display: none;
  left: 50%;
  position: absolute;
  top: 50px;
  transform: translateX(-50%);
}

.links--tumblr a {
  background-position: 0 -35px;
}
.links--blog a {
  background-position: 0 -71px;
}
.links--github a {
  background-position: 0 -107px;
}
.links--lastfm a {
  background-position: 0 -144px;
}
.links--mail a {
  background-position: 0 -180px;
}
.links--flickr a {
  background-position: 0 -216px;
}
.links--facebook a {
  background-position: 0 -251px;
}
.links--instagram a {
  background-position: 0 -287px;
}
