.me {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-around;
  @media screen and (max-width: 650px) {
    flex-direction: column;
  }
}

.me__face,
.me__intro {
  margin: 20px;
}

.me__face {
  height: 85%;
  z-index: 1;
  @media screen and (max-width: 650px) {
    height: 50%;
  }
}

.me__intro {
  font-size: 3vw;
  line-height: 1.5;
  padding-bottom: 3vw;
  @media screen and (max-width: 650px) {
    font-size: 5vw;
    padding-bottom: 5vw;
  }
}

.me__intro__desc {
  display: block;
  position: relative;
  & span {
    opacity: 0;
    position: absolute;
    transition: opacity 3s;
    width: 100%;
  }
  & .me__intro--active {
    opacity: 1;
  }
}
