.me {
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 80vh;
  width: 100%;
}

.me__face,
.me__intro {
  margin: 20px;
}

.me__face {
  height: 85%;
  z-index: 1;
}

.me__intro {
  font-size: 3vw;
  line-height: 1.5;
}

.me__intro__desc {
  display: block;
  position: relative;
  span {
    opacity: 0;
    position: absolute;
    transition: opacity 3s;
    width: 100%;
  }
  .me__intro--active {
    opacity: 1;
  }
}

@media screen and (max-width: 650px) {
  .me {
    flex-direction: column;
  }
  .me__face {
    height: 50vh;
  }
  .me__intro {
    font-size: 5vw;
  }
}
