.me__thinking {
	height: 100px;
	margin: 0 auto;
	position: relative;
	width: 150px;
}

.me__think {
	background-color: #FFF;
	border: 1px solid #000;
	height: 10px;
	left: 55px;
	position: absolute;
	top: 100px;
	width: 10px;
}
.me__think--a {
	animation: bubbles 5s infinite linear;
}
.me__think--b {
	animation: bubbles 7s infinite linear;
	height: 15px;
	left: 60px;
	width: 15px;
}
.me__think--c {
	animation: bubbles 4s infinite linear;
	left: 70px;
}

@keyframes bubbles {
	0% {
		top: 100px;
	}
	100% {
		top: 0;
	}
}
