.cloud {
	clear: both;
	float: right;
	margin: 50px;
	position: relative;
	text-align: center;
}

.intro {
	font-size: 21px;
	line-height: 35px;
	margin: 35px 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
	span {
		@include transition(opacity 3s);
		left: 50%;
		opacity: 0;
		position: absolute;
		transform: translateX(-50%);
		width: 100%;
	}
	.intro--active {
		display: block;
		opacity: 1;
	}
}


@media screen and (max-width: 650px) {
	.cloud {
		float: none;
		margin: 20px auto 10vh;
		canvas {
			zoom: 60%;
		}
		p {
			font-size: 15px;
			line-height: 25px;
			margin: 15px 0;
		}

	}
}



.container {
	display: block;
	min-width: 1050px;
}
.lisko {
	display: none;
}


@media screen and (max-width: 650px) {
	.container {
		display: block;
		min-width: 0;
	}
	.lisko {
		background: url(../public/images/lisko.png) no-repeat;
		background-size: 150px;
		display: block;
		height: 180px;
		margin: 0 auto;
		width: 150px;
	}
}
