.container {
	display: block;
	min-width: 1085px;
}

.ghost {
	background: transparent url(../public/images/ghost.png) 0 0 no-repeat;
	bottom: 0;
	height: 125px;
	left: 0;
	opacity: 0.5;
	position: absolute;
	width: 125px;
	&:hover {
		opacity: 1;
	}
}
.ghost-b {
	background: transparent url(../public/images/ghost.png) -129px 0 no-repeat;
}

.life {
	float: left;
	font-family: PressStart2PRegular, Arial, sans-serif;
	height: 50px;
	padding: 10px;
	text-transform: uppercase;
	width: 250px;
	.heart {
		background: url(../public/images/heart.png);
		background-repeat: no-repeat;
		background-size: 45px;
		float: left;
		height: 43px;
		width: 50px;
	}
}

.links {
	clear: none;
	float: right;
	padding: 10px 0;
	position: relative;
	width: 350px;
	a {
		background: url(../public/images/sprites.png) no-repeat;
		display: block;
		height: 32px;
		width: 32px;
	}
	li {
		float: left;
		width: 50px;
		&:hover .caption{
			display: block;
		}
	}
	.lastfm a {
		background-position: 0 -144px ;
	}
	.github a {
		background-position: 0 -107px ;
	}
	.mail a {
		background-position: 0 -180px ;
	}
	.flickr a {
		background-position: 0 -216px ;
	}
	.blog a {
		background-position: 0 -71px ;
	}
	.tumblr a {
		background-position: 0 -35px ;
	}
	.facebook a {
		background-position: 0 -251px ;
	}
	.caption {
		display: none;
		left: 50%;
		margin-left: -74px;
		position: absolute;
		text-align: center;
		top: 50px;
		width: 130px;
	}
}


.cloud {
	clear: both;
	float:right;
	height:195px;
	margin:30px 50px;
	position: relative;
	width:480px;
	section {
		font-size:21px;
		height:125px;
		margin-left:55px;
		margin-top:35px;
		position:absolute;
		text-align:center;
		width:385px;
		z-index:1;
		p {
			margin:10px 0;
		}
		.title {
			display:none;
		}
	}
}

.social {
	clear:both;
	display:block;
	float:right;
	height:100px;
	margin:30px 50px;
	position: relative;
	width:485px;
	section {
		float:right;
		position: relative;
		width:160px;
		.caption {
			text-align:center;
		}
	}
	section>li {
		display:block;
		margin:10px auto;
	}
	.twitter {
		margin-top: 100px;
		position: relative;
	}
	.tweet {
		background-color: #FFF;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		float: left;
		height: 145px;
		margin-left: 10px;
		padding: 5px;
		width: 330px;
		word-wrap: break-word;
		&:after {
			border-color: transparent white;
			border-style: solid;
			border-width: 15px 15px 15px 0;
			bottom: auto;
			content: "";
			left: 120px;
			position: absolute;
			top: 60px;
		}
	}
}
.duck {
	background: transparent url(../public/images/duck.png) 0 0 no-repeat;
	height: 100px;
	float: left;
	margin-top: 25px;
	width: 125px;
	&:hover {
		background: transparent url(../public/images/duck.png) 0px -100px no-repeat;
	}
}
.lizard {
	bottom: 0;
	height: 560px;
	left: 0;
	position: fixed;
	width: 552px;
}
.cloud li,
.lizard li {
	float: left;
	height: 10px;
	margin: 1px;
	position: relative;
	width: 10px;
}
.d {
	background-color:#000;
}
.w {
	background-color:#fff;
}
.b {
	background-color:#395fb2;
}
.b:hover {
	background-color:#00f;
}
.r {
	background-color:#b8200e;
}
.r:hover {
	background-color:#f00;
}
.y {
	background-color:#f8cd4a;
}
.y:hover {
	background-color:#ff0;
}
