.tweet {
	bottom: 10vh;
	position: fixed;
	right: 10vh;
}

.tweet__baloon {
	background-color: #FFF;
	border-radius: 10px;
	display: inline-block;
	height: 145px;
	padding: 5px;
	vertical-align: middle;
	width: 330px;
	word-wrap: break-word;
	&:before {
		border-color: transparent #FFF;
		border-style: solid;
		border-width: 15px 15px 15px 0;
		content: "";
		display: inline-block;
		margin-left: -15px;
		vertical-align: middle;
	}
	&:after {
		content: "";
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
}

.tweet__message {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}

.tweet__duck {
	background: transparent url(../images/duck.png) no-repeat;
	display: inline-block;
	height: 100px;
	margin-right: 5px;
	vertical-align: middle;
	width: 125px;
	&:hover {
		background-position: 0 -100px;
	}
}


@media screen and (max-width: 1500px) {
	.tweet {
		bottom: 10px;
		right: 20px;
	}
}

@media screen and (max-width: 650px) {
	.tweet {
		display: none;
	}
}
