<h1>Contacts</h1>
<p>My website <a href="http://sirlisko.com">http://sirlisko.com</a></p>
<p>My github <a href="http://github.com/sirlisko">http://github.com/sirlisko</a></p>
<p>My email address <a href="mailto:hello@sirlisko.com">hello@sirlisko.com</a>.</p>
<p>A print friendly version of this: <a href="http://sirlisko.com/cv/alt.pdf">http://sirlisko.com/cv/alt.pdf</a></p>
<p style="display:none;">A live version of this resume: <a href="http://sirlisko.com/resume">http://sirlisko.com/resume</a></p>