<h1>Contacts</h1>
<p>My website <a href="https://sirlisko.com">https://sirlisko.com</a></p>
<p>My github <a href="https://github.com/sirlisko" data-beacon>https://github.com/sirlisko</a></p>
<p>My email address <a href="mailto:luca@sirlisko.com" data-beacon>luca@sirlisko.com</a>.</p>
<p class="alt--invisible">A print friendly version of this: <a href="https://sirlisko.com/cv/alt.pdf" data-beacon>https://sirlisko.com/cv/alt.pdf</a></p>
<p class="alt--visible"">A live version of this resume: <a href="https://sirlisko.com/resume">https://sirlisko.com/resume</a></p>
