<h1>Experiences</h1>
<div class="experience--current">
    <h2>Contractor @ Barbooto ltd</h2>
    <p>To infinity and beyond...</p>
</div>
<div>
    <h2>Senior Frontend Engineer<span>@ Verve</span></h2>
    <h4>May 2017 - July 2018</h4>
    <p>Worked on improving the user experience through the check-out with technologies involving React/Redux, Relay and GraphQL.</p>
    <p>Improved the Front End unit testing environment, migrated to Jest and introduced snapshot testing.</p>
    <p>Integrated 3rd party payment methods (Stripe).</p>
    <p>Worked with the design team to improve the UI/UX.</p>
</div>
<div>
    <h2>Frontend Engineer<span>@ Pobble Education</span></h2>
    <h4>June 2016 - May 2017</h4>
    <p>Rewrote the whole Front End architecture following the Angular.js best practices. Decoupled the FE from Rails.</p>
    <p>Introduced a Front End build system. Defined a code style guide. Introduced unit/functional test frameworks.</p>
</div>
<div>
    <h2>Senior Software Engineer<span>@ Shazam Entertainment</span></h2>
    <h4>October 2011 - May 2016</h4>
    <p>Mainly involved in the development of the website (shazam.com). Co-operated in the realisation of a modular architecture
        of the Front End (AMD, BEM) and its build system (Node.js and Gulp).</p>
    <p>Developed a custom solution for functional tests.</p>
    <p>Worked on automation tools and localisations.</p>
</div>
<div>
    <h2>Web Developer (Consultant)<span>@ YOOX Group</span></h2>
    <h4>September 2010 - October 2011</h4>
    <p>Mainly involved in JavaScript stuff, especially Test Driven Development (TDD), unit and functional testing, continuous
        integration and build automation.</p>
    <p>Projected and developed a targeted JS framework.</p>
</div>
<div>
    <h2>Once upon a time...</h2>
    <p>In my past I had the pleasure to work also with Java, Scala, PHP, MySQL, C++, Ruby on Rails. I don't consider myself
        an expert on those languages but I like, especially in my freetime, playing with other techologies :)</p>
</div>