<h1>Experiences</h1>
<div class="experience--current">
	<h2>Frontend Engineer<span>@ Pobble Education</span></h2>
	<h4>June 2016 - Now</h4>
	<p>Rewrote the whole Front End architecture following the Angular.js (v1.x) best practises.  Pushed for the modularisation of the actual codebase and wrote the new sections using components.</p>
	<p>Decoupled the FE from Rails. Introduced a Front End build system. Defined a code style guide. Externalised the 3rd party dependencies. Introduced a JS error catcher. Introduced unit/acceptance test frameworks.</p>
</div>
<div>
	<h2>Senior Software Engineer<span>@ Shazam Entertainment</span></h2>
	<h4>October 2011 - May 2016</h4>
	<p>Mainly involved in the development of the website (shazam.com). Co-operated in the realisation of a modular architecture of the Front End (AMD, BEM) and its build system (Node.js and Gulp).</p>
	<p>Developed a custom solution for running acceptance tests (based in Node.js using Nightwatch.js).</p>
	<p>Extras: worked on an automation tool for the upload of the charts. Localised the website in Italian and Spanish.</p>
	<p>Trivial: worked on a little Angular/Node web app to make easier to choose what order for lunch :)</p>
</div>
<div>
	<h2>Web Developer (Consultant)<span>@ YOOX Group</span></h2>
	<h4>September 2010 - October 2011</h4>
	<p>Mainly involved in JavaScript stuff, especially Test Driven Development (TDD), unit and functional testing, continuous integration and build automation. Here I had the possibility to work on huge e-commerce web site and to be involved in the main fields of the front end developing.</p>
	<p>Projecting and developing a targeted javascript framework. Working on automation of the build process using build machines. Interfacing using public and private APIs. Creation of templates (HTML/XSL and CSS).</p>
</div>
<div>
	<h2>Once upon a time...</h2>
	<p>In my past I had the pleasure to work also with Java, Scala, PHP, MySQL, C++, Ruby on Rails. I don't consider myself an expert on those languages but I like, especially in my freetime, playing with other techologies :)</p>
</div>
