<h1>Experiences</h1>
<div class="experience--current">
	<h2>Senior Software Engineer @ Shazam Entertainment ltd.</h2>
	<h4>October 2011 - now</h4>
	<p>Mainly involved in the development of the website (shazam.com). Co-operated in the realisation of a modular architecture of the Front End (AMD, BEM) and its build system (Node.js and Gulp).</p>
	<p>Developed a custom solution for running acceptance tests (based in Node.js using Nightwatch.js).</p>
	<p>Extras: worked on an automation tool for the upload of the charts. Localised the website in Italian and Spanish.</p>
	<p>Trivial: worked on a little Angular/Node web app to make easier to choose what order for lunch :)</p>
</div>
<div>
	<h2>Web Developer (Consultant) @ YOOX</h2>
	<h4>September 2010 - October 2011</h4>
	<p>Mainly involved in JavaScript stuff, especially Test Driven Development (TDD), unit and functional testing, continuous integration and build automation. Here I had the possibility to work on huge e-commerce web site and to be involved in the main fields of the front end developing.</p>
	<p>Projecting and developing a targeted javascript framework. Working on automation of the build process using build machines. Interfacing using public and private APIs. Creation of templates (HTML/XSL and CSS).</p>
</div>
<div>
	<h2>Web Developer Intern @ Assistive Solutions ltd.</h2>
	<h4>November 2009 - April 2010</h4>
	<p>Developed UI and projected UX of a website for training to dyslexic students. Developed new features for company’s site. Improved some back-end features (PHP).</p>
</div>
<div>
	<h2>Once upon a time...</h2>
	<p>In my past I had the pleasure to work also with Java, Scala, PHP, MySQL, C++, Ruby on Rails. I don't consider myself an expert on those languages but I like, especially in my freetime, playing with other techologies :)</p>
</div>
