<h1>Side Projects</h1>
<div>
    <h2>ZoomME.ME</h2>
    <p>Super simple zoom-in meme generator. Powered by pure Vanilla Javascript.</p>
</div>
<div>
	<h2>Should I listen it?</h2>
	<p>Little webapp that shows you the most played songs by an artist in the last two years of gigs. It's a Node.js project that proxies external APIs and mashes them up to set you up for your next Gig. Backend in Node.js and interaction with serveral APIs (Setlist.fm, Spotify and Songkick).</p>
</div>
<div>
	<h2>Shazamify</h2>
	<p>User Script and Chrome Extension that allows you to play your Shazams in Spotify, directly from the browser. Shazamify adds a small Spotify icon to every Shazam track page and allows you to play that track directly in Spotify.</p>
</div>
<div>To see a full list of my side projects go to <a href="/projects">https://sirlisko.com/projects</a>.</div>
