<h1>Side Projects</h1>
<div>
    <h2>ZoomME.ME</h2>
	<p>Super simple zoom-in meme generator. Drag and drop an image and then create your meme.</p>
	<p>PWA (Progressive Web App) powered by pure and sweet Vanilla Javascript.</p>
</div>
<div>
	<h2>Should I listen it?</h2>
	<p>Little webapp that shows you the most played songs by an artist in the last two years of gigs.</p>
	<p>Node.js app that proxies external APIs (Setlist.fm, Spotify and Songkick) and mashes them up to set you up for your next Gig.</p>
</div>
<div>
	<h2>Shazamify</h2>
	<p>Shazamify allows you to play your Shazams in Spotify, directly from the browser, by adding a small Spotify icon to every Shazam track page.</p>
	<p>Chrome Extension powered by Spotify OAuth and Web API.</p>
</div>
<div>To see a full list of my side projects go to <a href="/projects">https://sirlisko.com/projects</a>.</div>
