<h1>Skills</h1>
<div>
	<h2>Main</h2>
	<ul>
		<li>Javascript</li>
		<li>Node.JS</li>
		<li>Markup/CSS</li>
		<li>Front End Architecture</li>
		<li>FE Build &amp; CI</li>
		<li>TDD</li>
		<li>Functional Testing</li>
	</ul>
</div>
<div>
	<h2>Misc.</h2>
	<ul>
		<li>Agile / Scrum</li>
		<li>React</li>
		<li>Webpack</li>
		<li>Gulp / Grunt</li>
		<li>NPM</li>
		<li>Git</li>
		<li>RegEX</li>
		<li>Chrome Extensions</li>
		<li>Bash Scripting</li>
		<li>User Scripting</li>
		<li>Web Scraping</li>
	</ul>
</div>