.home {
  background-color: #c0deed;
  background-image: radial-gradient(circle, #6bd3e4, #2eaed5);
  height: 100%;

  & a {
    text-decoration: none;
  }

  & header,
  & footer {
    display: flex;
    height: 10%;
    padding: 1rem;
    text-transform: uppercase;
  }

  & header {
    justify-content: center;
    @media (min-width: 650px) {
      justify-content: flex-end;
    }
  }

  & footer {
    justify-content: space-between;
    align-items: flex-end;
  }

  & article {
    height: 80%;
    width: 100%;
  }
}
