@import 'helpers/normalize';

@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
}

html {
  background-color: #c0deed;
  background-image: radial-gradient(circle, #6bd3e4, #2eaed5);
  font-family: 'Press Start 2P', monospace;
}

sup a {
  text-decoration: none;
}

.logo {
  margin: 10px auto;
  width: 50px;
  & img {
    width: 100%;
  }
  @media (min-width: 650px) {
    width: 100px;
  }
}

.projects {
  margin: 20px auto;
  max-width: 1200px;
  width: 95%;
  & h1 {
    text-align: center;
  }
}

.project {
  list-style: none;
  margin: 30px auto;
  padding: 0;
  & p {
    margin: 1em auto;
  }
  @media (min-width: 650px) {
    display: flex;
  }
}

.project__main h3 {
  color: #fff;
  margin: 1em auto;
}

.project__main,
.project__details {
  width: 100%;
  @media (min-width: 650px) {
    flex: 1 0 30%;
    margin: auto;
  }
}

.project img {
  display: block;
  height: 100px;
  margin: 0 auto;
  width: 100px;
  @media (min-width: 650px) {
    margin: auto 30px;
  }
}

.project__details__tech {
  list-style: initial;
  padding: 1em;
}
.project__details__links > a {
  display: block;
  margin: 0.5em auto;
}
.project__details__links--disabled {
  text-decoration: line-through;
}

.notes {
  font-size: 10px;
  margin: 70px auto;
  max-width: 1200px;
  width: 95%;
  & h2 {
    font-size: 13px;
  }
  & p a:first-child {
    font-weight: 700;
    text-decoration: none;
  }
}
