@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@import "reset-css";
@import "./partials/ghost";
@import "./partials/links";
@import "./partials/me";

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  background-color: #c0deed;
  background-image: radial-gradient(circle, #6bd3e4, #2eaed5);
  font-family: "Press Start 2P", monospace;
  font-size: 16px;
}

html,
body,
body > div,
body > div > div {
  height: 100%;
}

header,
footer {
  display: flex;
  height: 10%;
  padding: 1rem;
  text-transform: uppercase;
}

header {
  justify-content: center;
  @media (min-width: 650px) {
    justify-content: flex-end;
  }
}

footer {
  justify-content: space-between;
  align-items: flex-end;
}

article {
  height: 80%;
  width: 100%;
}
