@import 'helpers/reset';

@import 'partials/ghost';
@import 'partials/links';
@import 'partials/me';

a {
	text-decoration: none;
}

html {
	background-color: #C0DEED;
	background-image: radial-gradient(circle, #6BD3E4, #2EAED5);
	font-family: 'Press Start 2P', monospace;
}

header,
footer {
	height: 10vh;
}

.my__projects,
.my__resume {
	position: absolute;
	bottom: 20px;
}
.my__projects {
	left: 20px;
}
.my__resume {
	right: 20px;
}
