<article class="section contacts">
  <h1>Contacts</h1>
  <p>
    Personal website:{" "}
    <a href="https://sirlisko.com">https://sirlisko.com</a>
  </p>
  <p>
    Github:{" "}
    <a href="https://github.com/sirlisko">https://github.com/sirlisko</a>
  </p>
  <p>
    LinkedIn:{" "}
    <a href="https://www.linkedin.com/in/lucalischetti/">
      https://www.linkedin.com/in/lucalischetti/
    </a>
  </p>
  <p>
    Email:{" "}
    <a href="mailto:luca@sirlisko.com">luca@sirlisko.com</a>.
  </p>
  <p class="alt-hidden">
    A print-friendly version of this:{" "}
    <a href="https://sirlisko.com/cv/alt.pdf">
      https://sirlisko.com/cv/alt.pdf
    </a>
  </p>
  <p class="alt-visible">
    A live version of this resume:{" "}
    <a href="https://sirlisko.com/resume">https://sirlisko.com/resume</a>
  </p>
</article>
<style is:global>
  .alt-visible {
    display: none;
  }
  .alt .alt-visible {
    display: block;
  }
  .alt .alt-hidden {
    display: none;
  }
</style>
