<section class="section education">
  <h2>Education</h2>
  <p>
    Degree in Computer Science @ Università degli studi dell'Insubria &amp;
    Universidad de Salamanca.
  </p>
  <p>
    Thesis on Assistive Technology -{" "}
    <a href="https://assistivetechnology.it">https://assistivetechnology.it</a>
  </p>
</section>
