<article class="section education">
  <h1>Education</h1>
  <p>
    Degree in Computer Science @ Università degli studi dell'Insubria &amp;
    Universidad de Salamanca.
  </p>
  <p>
    Thesis on Assistive Technology -{" "}
    <a href="https://assistivetechnology.it">https://assistivetechnology.it</a>
  </p>
</article>
