---
import type { Resume } from "../../types";

interface Props {
  experiences: Resume["experiences"];
}

const { experiences } = Astro.props;
---

<section class="section experiences">
  <h2>Experiences</h2>
  {
    experiences.map((exp) => (
      <div>
        {exp.where && (
          <h3>
            {exp.where} {exp.when && <span>{exp.when}</span>}
          </h3>
        )}
        {exp.blurp.map((blr) => (
          <p>{blr}</p>
        ))}
      </div>
    ))
  }
</section>
