<article class="section extras">
  <h1>Extras</h1>
  <p>Co-helded a workshop on TDD in Javascript @ Università di Cesena.</p>
  <p>
    Volunteer & collaborator at Front-End Conference -{" "}
    <a href="https://twitter.com/fromthefront">From The Front</a>.
  </p>
  <p>Cisco CCNA cetificate (Cisco Certified Network Associate).</p>
  <p>Trained as Fire Marshal.</p>
</article>
