<section class="section extras">
  <h2>Extras</h2>
  <p>Co-held a workshop on TDD in Javascript @ Università di Cesena.</p>
  <p>
    Volunteer & collaborator at Front-End Conference -{" "}
    <a href="https://twitter.com/fromthefront" target="_blank" rel="noreferrer"
      >From The Front</a
    >.
  </p>
  <p>
    Project Lead / Volunteer Cook at
    <a href="https://foodcycle.org.uk/" target="_blank" rel="noreferrer">FoodCycle</a> —
    helping reduce food waste and support local communities.
  </p>
  <p>Cisco CCNA certificate (Cisco Certified Network Associate).</p>
  <p>Trained as Fire Marshal.</p>
</section>
