<article class="section interests">
  <h1>Interests</h1>
  <p>
    Passionate about <a href="https://www.last.fm/user/sirlisko">music</a>,{" "}
    <a href="https://www.imdb.com/user/ur15844029/">cinema</a>,{" "}
    <a href="https://www.goodreads.com/sirLisko">books</a>, and, of course, <a
      href="https://pizzaclub.sirlisko.com/">pizza</a
    >.
  </p>
  <p>
    Enthusiastic about modern art, 8-bit graphics (like old-school video games),
    travel, languages. I'm also an active member of{" "}
    <a href="https://www.couchsurfing.com/people/sirlisko">
      CouchSurfing community
    </a>
     .
  </p>
</article>
