<section class="section interests">
  <h2>Interests</h2>
  <p>
    Passionate about <a
      href="https://www.last.fm/user/sirlisko"
      target="
      _blank"
      rel="noreferrer">music</a
    >,{" "}
    <a href="https://letterboxd.com/sirlisko/" target="_blank" rel="noreferrer"
      >cinema</a
    >,{" "}
    <a
      href="https://www.goodreads.com/sirLisko"
      target="_blank"
      rel="noreferrer">books</a
    >, and, of course, <a
      href="https://pizzaclub.sirlisko.com/"
      target="_blank"
      rel="noreferrer">pizza</a
    >.
  </p>
  <p>
    Enthusiastic about modern art, 8-bit graphics (like old-school video games),
    travel, languages. I'm also an active member of{" "}
    <a
      href="https://www.couchsurfing.com/people/sirlisko"
      target="_blank"
      rel="noreferrer"
    >
      CouchSurfing community
    </a>
    .
  </p>
</section>
