<section class="section interests">
  <h2>Interests</h2>
  <p>
    Passionate about <a
      href="https://www.last.fm/user/sirlisko"
      target="
      _blank"
      rel="noreferrer">music</a
    >,{" "}
    <a href="https://letterboxd.com/sirlisko/" target="_blank" rel="noreferrer"
      >cinema</a
    >,{" "}
    <a
      href="https://www.goodreads.com/sirlisko"
      target="_blank"
      rel="noreferrer">books</a
    >, and, of course, <a
      href="https://pizzaclub.sirlisko.com/"
      target="_blank"
      rel="noreferrer">pizza</a
    >.
  </p>
  <p>
    Enthusiastic about modern art, 8-bit graphics (like old-school video games),
    travel, languages.
  </p>
  <p>
    <strong>Volunteer Cook</strong> at
    <a href="https://foodcycle.org.uk/" target="_blank" rel="noreferrer">FoodCycle</a> —
    helping reduce food waste and support local communities.
  </p>
</section>
