---

---

<section class="me">
  <div class="me__face">
    <a href="/">
      <img src="/images/me.webp" alt="sirlisko face" transition:name="face" />
    </a>
  </div>
  <h1 class="me__intro">
    <span>Luca Lischetti</span>
    <span>a.k.a. sirlisko</span>
    <span>Senior Software Engineer</span>
  </h1>
</section>
