<section class="me">
  <div class="me__face">
    <a href="/">
      <img src="https://sirlisko.com/images/sirlisko.svg" alt="sirlisko face" />
    </a>
  </div>
  <h1 class="me__intro">
    <span>Luca Lischetti</span>
    <span>a.k.a. sirLisko</span>
    <span>Senior Software Engineer</span>
  </h1>
</section>
