---
import type { Resume } from "../../types";

interface Props {
  projects: Resume["projects"];
}
const { projects } = Astro.props;
---

<article class="section projects">
  <h1>Side Projects</h1>
  {
    projects.map((prj) => (
      <div>
        <h2>
          <a href={prj.url}>{prj.name}</a>
        </h2>
        {prj.blurp.map((blr) => (
          <p>{blr}</p>
        ))}
      </div>
    ))
  }
  <div>
    To see a full list of my side projects go to{" "}
    <a href="/projects">https://sirlisko.com/projects</a>.
  </div>
</article>
