---
import type { Resume } from "../../types";

interface Props {
  skills: Resume["skills"];
}

const { skills } = Astro.props;
---

<section class="skills">
  <h2>Skills</h2>
  {
    Object.keys(skills).map((type) => (
      <div>
        <h3>{type}</h3>
        <ul>
          {skills[type as keyof Resume["skills"]].map((skill) => (
            <li>{skill}</li>
          ))}
        </ul>
      </div>
    ))
  }
</section>
