---
import me from "../../data/me";

import Links from "../components/Links.astro";
import Greeting from "../components/Greeting";
import Ghost from "../components/Ghost";
import Layout from "../layouts/Layout.astro";
---

<Layout keywords={me.keywords}>
  <Ghost client:only="react" />
  <div class="page-container">
    <nav class="nav">
      <Links links={me.links} />
    </nav>
    <main class="main-content">
      <div class="container grid">
        <div class="face">
          <img src="./images/sirlisko.svg" alt="sirlisko face" />
        </div>
        <div class="intro">
          <h1>
            Ciao!
            <br />
            I&#39;m sirlisko,

            <p>another f@$#&amp;n&#39;</p>
            <p class="desc">
              <span>
                <Greeting descriptions={me.descriptions} client:load />
              </span>
            </p>
          </h1>
        </div>
      </div>
    </main>
    <footer class="footer">
      <a href="/projects">Projects</a>
      <a href="/resume">Resume</a>
    </footer>
  </div>
</Layout>

<style>
  html,
  body {
    height: 100%;
    background-color: #2eaed5;
    background-image: radial-gradient(circle, #6bd3e4, #2eaed5);
  }

  .nav,
  .footer {
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    padding: 1rem;
    z-index: 10;
  }

  .nav {
    top: 0;
    text-align: right;
  }

  .footer {
    bottom: 0;
    display: flex;
    justify-content: space-between;
  }

  .main-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 1rem;
    min-height: 100vh;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10vw;
  }

  @media (max-width: 650px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }

  .intro {
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: left;
  }
  .intro p,
  .intro h1 {
    font-size: min(2.5vw, 55px);
    margin: 0;
  }

  .face {
    text-align: center;
  }
  .face img {
    height: min(70vw, 70vh);
  }
  @media screen and (max-width: 650px) {
    .face {
      max-height: 50vh;
    }
    .intro p,
    .intro h1 {
      font-size: min(5vw, 5vh);
    }
  }

  .desc span {
    display: inline-block;
    position: relative;
    white-space: nowrap;
  }

  .desc span::after {
    content: " ";
    display: inline-block;
    width: 5px;
    height: 100%;
    background-color: #000;
    position: absolute;
    right: -10px;
    animation: blink 1s step-end infinite;
  }

  @keyframes blink {
    50% {
      background-color: transparent;
    }
  }
</style>
