---
import "../styles/projects.scss";
import { projects, pastProjects } from "../../data/projects";

import ProjectCard from "../components/ProjectCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Projects"
  description="What I am working on at the moment.. Give a look at my side projects."
  keywords={[
    "Luca Lischetti",
    "sirlisko",
    "web developer",
    "software engineer",
    "projects",
    "ideas",
  ]}
>
  <div class="projects-page">
    <div class="logo">
      <a href="/">
        <img
          src="/images/sirlisko.svg"
          alt="sirlisko face"
          height={144}
          width={100}
        />
      </a>
    </div>
    <section>
      <h1>My Side Projects</h1>
      <ul>
        {
          projects.map((project) => (
            <li class="project">
              <ProjectCard {...project} />
            </li>
          ))
        }
      </ul>
    </section>
    <section class="past-projects">
      <h2>My Past Projects</h2>
      <ul>
        {
          pastProjects.map((project) => (
            <li class="project">
              <ProjectCard {...project} />
            </li>
          ))
        }
      </ul>
    </section>
  </div>
</Layout>

<style>
  .past-projects {
    margin-top: 5rem;
  }
  .past-projects h2 {
    text-align: center;
  }
</style>
