---
import "../styles/projects.scss";
import { projects, pastProjects } from "../../data/projects";

import ProjectCard from "../components/ProjectCard.astro";
import Layout from "../layouts/Layout.astro";
import Links from "../components/Links.astro";
---

<Layout
  title="Projects"
  description="Discover a diverse range of projects by Luca Lischetti, aka sirLisko. Explore creations like GigPlayList, ZoomMEME, Shazamify, and more, showcasing a fusion of creativity and technical expertise in web apps, npm modules, Chrome extensions, and Alexa skills."
  keywords={[
    "Luca Lischetti",
    "sirlisko",
    "web developer",
    "software engineer",
    "projects",
    "ideas",
  ]}
>
  <Links page="projects" />
  <div class="projects-page">
    <div class="logo">
      <a href="/">
        <img
          src="/images/sirlisko.svg"
          alt="sirlisko face"
          height={144}
          width={100}
        />
      </a>
    </div>
    <section>
      <h1>My Side Projects</h1>
      <ul>
        {
          projects.map((project) => (
            <li class="project">
              <ProjectCard {...project} />
            </li>
          ))
        }
      </ul>
    </section>
    <section class="past-projects">
      <h2>My Past Projects</h2>
      <ul>
        {
          pastProjects.map((project) => (
            <li class="project">
              <ProjectCard {...project} />
            </li>
          ))
        }
      </ul>
    </section>
  </div>
</Layout>

<style>
  .past-projects {
    margin-top: 5rem;
  }
  .past-projects h2 {
    text-align: center;
  }
</style>
