---
import "../styles/resume.scss";

import resume from "../../data/resume";

import Me from "../components/resume/Me.astro";
import Skills from "../components/resume/Skills.astro";
import Education from "../components/resume/Education.astro";
import Extras from "../components/resume/Extras.astro";
import Contacts from "../components/resume/Contacts.astro";
import Projects from "../components/resume/Projects.astro";
import Experiences from "../components/resume/Experiences.astro";
import Interests from "../components/resume/Interests.astro";
import Layout from "../layouts/Layout.astro";
---

<script>
  const urlSearchParams = new URLSearchParams(window.location.search);
  if (urlSearchParams.get("alt")) {
    document.body.classList.add("alt");
  }
</script>
<Layout
  title="Resume"
  description="Luca Lischetti's resume, part of sirLisko's world. Discover the skills and experience of a creative mind with web expertise. Explore qualifications, technical skills, and a passion for blending art and tech. A journey showcasing a fusion of creativity and software engineering."
  keywords={[
    "Luca Lischetti",
    "sirlisko",
    "web developer",
    "software engineer",
    "resume",
    "cv",
  ]}
>
  <div class="resume">
    <Me />
    <div class="wrapper">
      <Skills skills={resume.skills} />
      <Experiences experiences={resume.experiences} />
      <section class="section ouat">
        <h2>Once upon a time...</h2>
        I had the pleasure to work also with Python, Java, Scala, PHP, MySQL, C++,
        Ruby on Rails. While not an expert in these languages, I enjoy exploring
        various technologies in my free time :)
      </section>
      <Projects projects={resume.projects} />
      <Education />
      <Extras />
      <Interests />
      <Contacts />
    </div>
  </div>
</Layout>

<style>
  body {
    background-color: #0300ae;
    background-image: radial-gradient(circle, #0300ae, #000024);
    color: #fff;
  }
  body.alt {
    background-color: #fff;
    background-image: radial-gradient(circle, #fff, #fff);
    color: #000;
  }
  .wrapper {
    padding-bottom: 100px;
  }
</style>
