@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

:root {
  --side: 18em;
}

@page {
  margin: 0;
  padding: 0;
}

.resume {
  background-color: #0300ae;
  background-image: radial-gradient(circle, #0300ae, #000024);
  color: #fff;
  overflow: auto;
  & h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
}

html.alt {
  background: #fff;
  color: #000;
}

.resume {
  @media (max-width: 1150px) {
    font-size: 1.2vw;
  }
  @media print, (max-width: 650px) {
    font-size: 9px;
  }
  @media print {
    padding: 0 35px 120px;
  }
  & a {
    color: #fff;
    .alt & {
      color: currentColor;
    }
  }

  & article {
    line-height: 1.5;
    margin: 20px;
    overflow: hidden;
  }

  & h1 {
    color: #c200c0;
    .alt & {
      color: red;
    }
  }
  & h2 {
    text-transform: capitalize;
    &,
    & a {
      color: #00bcbc;
    }
    .alt & {
      color: blue;
    }
    & span {
      display: block;
    }
  }

  & .wrapper {
    overflow: hidden;
    margin: 0 auto;
    max-width: 1200px;
  }

  & .me {
    margin: 20px auto 0;
    max-width: 1200px;
  }
  & .me__face {
    margin: 0 2em;
    width: calc(var(--side));
    & img {
      display: block;
      margin: 0 auto;
      width: 8em;
    }
  }
  & .me__face,
  & .me__intro {
    display: inline-block;
    vertical-align: middle;
  }
  & .me__intro {
    font-size: 2em;
    line-height: 1.5;
    & span {
      display: block;
    }
  }

  & .skills > div {
    display: inline-block;
    vertical-align: top;
  }
}

@media print, screen and (min-width: 650px) {
  .resume .skills {
    float: left;
    width: var(--side);
  }

  .resume .experiences {
    margin-left: calc(var(--side) + 5);
  }
}
@media screen and (min-width: 650px) {
  .resume .section {
    margin-left: calc(var(--side) + 5em);
  }
}
@media screen and (max-width: 649px) {
  .resume .me {
    text-align: center;
    width: 95%;
  }
}

.alt--visible {
  display: none;
  .alt & {
    display: block;
  }
}
.alt--invisible {
  .alt & {
    display: none;
  }
}

/* Fixed print pagination */

@media print {
  .resume {
    & h2 a {
      text-decoration: none;
    }

    & .projects {
      padding-top: 45px;
    }
  }
}
