---
import type { Me } from "../types";

interface Props {
  links: Me["links"];
}

const { links } = Astro.props;
---

<ul class="links">
  {
    links.map((link) => (
      <li class={link.name}>
        <a href={link.url} title={link.name}>
          <span class="caption">{link.label}</span>
        </a>
      </li>
    ))
  }
</ul>

<style>
  .links {
    margin: 0;
    padding: 0;

    & li {
      display: inline-block;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
      @media (min-width: 650px) {
        margin-right: 1rem;
      }
      &:hover .caption {
        @media (min-width: 650px) {
          display: block;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
    & a {
      display: block;
      height: 32px;
      width: 32px;
      background-size: contain;
    }
  }

  .caption {
    color: #000;
    display: none;
    left: 50%;
    position: absolute;
    top: 50px;
    transform: translateX(-50%);
    width: 100%;
    top: 4rem;
    text-align: center;
  }

  .blog a {
    background-image: url(/images/links/blog.png);
  }
  .resume a {
    background-image: url(/images/links/resume.png);
  }
  .projects a {
    background-image: url(/images/links/rocket.png);
  }
  .github a {
    background-image: url(/images/links/github.png);
  }
  .linkedIn a {
    background-image: url(/images/links/linkedin.png);
  }
  .mail a {
    background-image: url(/images/links/mail.png);
  }
</style>
